/* common.css */

.content {
    padding: 145px 130px 200px 130px;
    z-index: 1;
}

.user-setting {
    font-size: 0;
    margin-bottom: 85px;
    border: 1px solid #3d5bdc;
    z-index: 2;
}

.user-setting .searchBox {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 280px);
    position: relative;
    border-right: 1px solid #3d5bdc;
}

.user-setting .searchBox input[type="search"] {
    width: 100%;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px 54px;
    background: transparent;
}

.user-setting .searchBox input[type="search"]::placeholder {
    color: #3d5bdc;
}

.user-setting .searchBox .search-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #3d5bdc;
    cursor: pointer;
}

.user-setting .cateBox {
    display: inline-block;
    vertical-align: middle;
    width: 280px;
    position: relative;
    z-index: 3;
}

.cateBox .placeholder {
    position: relative;
    cursor: pointer;
}

.cateBox.on .placeholder {
    background: #f4f6fa;
}

.cateBox .placeholder p {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
}

.cateBox .placeholder .arrow-down {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}

.cateBox .depth01 {
    position: absolute;
    top: 70px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: #fff;
    transition: ease .4s;
    box-shadow: 0 2px 6px 0 rgba(0, 13, 57, 0.16);
}

.cateBox .depth01.slide {
    max-height: 800px;
}

.cateBox .depth01>li>p {
    padding: 0 20px;
    position: relative;
    background: #3d5bdc;
}

.cateBox .depth01>li>p a {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 20px 0;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.cateBox .depth01>li:last-child>p a {
    border-bottom: none;
}

.cateBox .depth01>li>p .depth01-arrow {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}

.cateBox .depth02 {
    max-height: 0;
    overflow: hidden;
    transition: ease .4s;
}

.cateBox .depth02.slide {
    max-height: 600px;
}

.cateBox .depth02>li {
    background: #fff;
    border-bottom: 1px solid #dadce0;
}

.cateBox .depth02>li:last-child {
    border-bottom: none;
}

.cateBox .depth02>li input[type="checkbox"] {
    display: none;
}

.cateBox .depth02>li input[type="checkbox"]+label::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #dadce0;
}

.cateBox .depth02>li input[type="checkbox"]:checked+label::after {
    background-image: url("../img/checked.svg");
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cateBox .depth02>li label span {
    font-size: 1.4rem;
    font-weight: 600;
    color: #5f6368;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 46px);
    padding: 20px;
}

.cateBox .depth02>li input[type="checkbox"]:checked+label span {
    color: #3d5bdc;
}

.more-btn {
    text-align: center;
    width: 200px;
    margin: 135px auto 0 auto;
    cursor: pointer;
}

.more-btn p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    transition: .3s ease;
}

.more-btn:hover p {
    font-size: 20px;
    font-weight: bolder;
}

.more-btn:hover img {
    transform: scale(1.2);
}

.popup {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.popup .zoom-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .fixed-element .brief-info {
    position: absolute;
    bottom: 342px;
    left: 130px;
}

.popup .fixed-element .brief-info p {
    font-family: 'Spoqa Han Sans Neo';
    color: #fff;
    font-size: 2.4rem;
    line-height: 1.7;
    opacity: 0;
}

.popup .fixed-element .brief-info p.ani {
    animation: element_ani02 2s;
    -moz-animation: element_ani02 2s;
    -webkit-animation: element_ani02 2s;
    -o-animation: element_ani02 2s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes element_ani02 {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.popup .fixed-element .brief-info .cm-name {
    font-weight: bold;
}

.popup .fixed-element .brief-info .position {
    font-weight: 400;
}

.popup .fixed-element h1 {
    position: absolute;
    bottom: 374px;
    right: 98px;
    font-family: 'Spoqa Han Sans Neo';
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    opacity: 0;
}

.popup .fixed-element h1.ani {
    animation: element_ani01 2s;
    -moz-animation: element_ani01 2s;
    -webkit-animation: element_ani01 2s;
    -o-animation: element_ani01 2s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    animation-fill-mode: forwards;
}

@keyframes element_ani01 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}