/* media.css */

@media only screen and (min-width: 320px) and (max-width: 360px) {
  html {
    font-size: 26.875%;
  }
}

@media only screen and (min-width: 361px) and (max-width: 375px) {
  html {
    font-size: 26.875%;
  }
}

@media only screen and (max-width: 412px) {
  html {
    font-size: 26.875%;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 26.875%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 26.875%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 26.875%;
  }
}

@media only screen and (max-width: 1600px) {
  #about .layout {
    max-width: 1440px;
  }
  #about .pos-txt {
    max-width: 570px;
    width: 100%;
  }
  #news .update {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (max-width: 1280px) {
  #about .pos-txt {
    max-width: 450px;
  }
}

@media only screen and (max-width: 1199px) {
  html {
    font-size: 26.875%;
  }
  .content {
    padding: 40px 30px;
  }
  .visual-area h1 {
    left: 30px;
    bottom: 122px;
  }
  .visual-area img {
    display: none;
  }
  .visual-area .m-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* header */
  header {
    padding-top: 0;
  }
  header .back-btn {
    top: 15px;
    left: 15px;
  }
  header .back-btn i {
    font-size: 6.85rem;
    font-weight: 600;
  }
  header .logo {
    top: 15px;
    left: 15px;
  }
  header .menu-btn {
    top: 15px;
    right: 15px;
  }
  .menu-btn .top {
    width: 17px;
    margin-bottom: 6px;
  }
  .menu-btn .middle {
    width: 34px;
  }
  .menu-btn .bottom {
    width: 17px;
    margin-top: 6px;
  }
  .menu-btn.close .top {
    width: 34px;
    -webkit-transform: translateY(10px) rotateZ(45deg);
    -moz-transform: translateY(10px) rotateZ(45deg);
    -ms-transform: translateY(10px) rotateZ(45deg);
    -o-transform: translateY(10px) rotateZ(45deg);
    transform: translateY(10px) rotateZ(45deg);
  }
  .menu-btn.close .bottom {
    width: 34px;
    -webkit-transform: translateY(-10px) rotateZ(-45deg);
    -moz-transform: translateY(-10px) rotateZ(-45deg);
    -ms-transform: translateY(-10px) rotateZ(-45deg);
    -o-transform: translateY(-10px) rotateZ(-45deg);
    transform: translateY(-10px) rotateZ(-45deg);
  }
  #open-menu .inner-content {
    margin-top: 130px;
    padding: 0 42px;
    width: 100%;
    position: static;
    top: unset;
    left: unset;
    transform: translate(0, 0);
  }
  #open-menu .gnb-menu {
    margin-bottom: 50px;
  }
  #open-menu .gnb-menu a {
    font-size: 9.3rem;
  }
  #open-menu .contact-us {
    padding: 20px 0;
  }
  #open-menu .contact-us li {
    display: block;
    width: 100%;
    border-bottom: none;
    padding: 10px 0;
  }
  #open-menu .contact-us li a {
    font-size: 4.189rem;
  }
  #open-menu .screen-mode .flip-box {
    width: 95px;
    height: 22px;
  }
  #open-menu .screen-mode .flip-box p {
    font-size: 3.721rem;
  }
  #open-menu .screen-mode i {
    font-size: 4.189rem;
  }
  /* footer */
  footer {
    padding: 0;
  }
  footer .foot-info {
    width: 100%;
    font-size: 0;
    padding: 30px 30px 37.5px 30px;
  }
  footer .f-logo {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  footer .f-logo svg {
    width: 87px;
  }
  footer .copyright {
    width: 50%;
    margin-left: 0;
    font-size: 2.791rem;
  }
  footer .wsite-link {
    width: 100%;
    background: transparent;
    border: none;
  }
  footer .wsite-link:hover {
    border: none;
  }
  footer .wsite-link a {
    color: #3d5bdc;
    font-size: 3.256rem;
    background: none;
    border: none;
    border-top: 1px solid #dadce0;
    padding: 20px 30px;
  }
  footer .wsite-link i {
    color: #3d5bdc;
    font-size: 4.739rem;
  }
  /* common */
  .user-setting {
    margin-bottom: 44px;
  }
  .user-setting .searchBox {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #3d5bdc;
  }
  .user-setting .searchBox input[type="search"] {
    font-size: 3.721rem;
  }
  .user-setting .cateBox {
    width: 100%;
  }
  .cateBox .placeholder p {
    font-size: 3.721rem;
    border-left: none;
  }

  .cateBox .depth01 > li > p a {
    font-size: 3.256rem;
  }
  .cateBox .depth02 > li label span {
    font-size: 3.256rem;
  }
  /* popup */
  .popup {
    flex-wrap: wrap;
  }
  .popup .popContent {
    order: 4;
    width: 100%;
    height: 419px;
    position: static;
  }
  .popup .popContent .crew-txt {
    position: static;
    left: unset;
    bottom: unset;
    padding: 30px 40px;
  }
  .popup .popContent .key-inf {
    padding-bottom: 30px;
  }
  .popup .popContent .key-inf h1 {
    font-size: 3.721rem;
  }
  .popup .popContent .key-inf p {
    font-size: 3.256rem;
  }
  .popup .popContent .sec-txt {
    padding-bottom: 30px;
  }
  .popup .popContent .sec-txt p {
    font-size: 3.256rem;
  }
  .popup .popContent .sec-txt ul li {
    font-size: 3.256rem;
  }
  .popup .zoom-img {
    order: 0;
    width: 100%;
    height: calc(100% - 419px);
  }
  /* index */
  #main .swiper-slide {
    display: flex;
    flex-wrap: wrap;
  }
  #main .swiper-slide .slide-txt {
    width: 100%;
    height: 216px;
    order: 4;
  }
  #main .swiper-slide .slide-txt .pos-txt {
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 40px;
    height: auto;
    transform: translateX(-50%);
    max-width: 100%;
    padding: 0 40px;
  }
  #main .swiper-slide .slide-txt h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  #main .swiper-slide .slide-txt p {
    font-size: 18px;
  }
  #main .swiper-slide .slide-img {
    order: 0;
    width: 100%;
    height: calc(100% - 216px);
  }
  .swiper-pagination {
    position: sticky !important;
    width: 80% !important;
    left: 50% !important;
    bottom: 35px !important;
    transform: translateX(-50%) !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 35% !important;
    transform: translateY(0) !important;
    width: 20px !important;
    height: 40px !important;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 18px !important;
  }
  .swiper-pagination-bullet {
    height: 5px !important;
  }
  /* about */
  #about .slide-down {
    display: none;
  }
  #about section {
    height: auto;
    margin-bottom: 10px;
  }
  #about .about-02 .ab-txt p br,
  #about .about-04 .ab-txt p br,
  #about .about-05 .ab-txt p br {
    display: none;
  }
  #about .layout {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #about video {
    height: 405px;
    object-fit: fill;
  }
  #about .video-area {
    width: 100%;
    height: 405px;
    order: 0;
  }
  #about .video {
    display: none;
  }
  #about .m-video {
    display: block;
  }
  #about .ab-txt {
    order: 4;
    width: 100%;
    height: 405px;
    position: relative;
    padding-left: 0;
  }
  #about .ab-txt .pos-txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 40px;
  }
  #about .ab-txt h1 {
    font-size: 5.582rem;
    padding-bottom: 30px;
  }
  #about .ab-txt p {
    font-size: 16px;
    padding-bottom: 22px;
  }
  .about-04 {
    background: #f4f6fa;
  }
  #about .about-06 {
    position: static;
  }
  #about .about-06 .layout {
    position: static;
    top: unset;
    left: unset;
    transform: translate(0, 0);
    padding-bottom: 200px;
  }
  #about .about-06 .ab-txt {
    order: 0;
    position: static;
    height: auto;
    padding: 50px 40px;
  }
  #about .about-06 .ab-txt h1 {
    position: static;
    top: 0;
    padding-bottom: 0;
  }
  .about-06 .ab-table {
    order: 4;
    width: 100%;
    padding: 0 40px;
  }
  .about-06 table col {
    width: 100%;
  }
  .about-06 table th,
  .about-06 table td {
    padding: 0;
    font-size: 3.721rem;
    text-align: left;
  }
  .about-06 table th {
    display: block;
    padding: 20px 0;
  }
  .about-06 table td {
    display: block;
    padding-bottom: 20px;
  }
  /* partner */
  #partner .tb-detail {
    margin-bottom: 20px;
    height: 80px;
  }
  #partner .tb-detail .cm-box {
    border-right: none;
  }
  #partner .tb-detail:hover .cm-box {
    border-right: none;
  }
  #partner .tb-detail .tb-logo {
    width: 100%;
  }
  #partner .tb-detail .tb-logo img {
    max-height: 80px;
  }
  #partner .tb-detail .tb-tit {
    display: none;
  }
  #partner .tb-detail .tb-cate {
    display: none;
  }
  /* crew */
  #crew {
    padding: 40px;
  }
  .crewArea {
    display: block;
  }
  #crew .crew-box {
    width: 100%;
    padding: 0;
    margin-bottom: 45px;
  }
  #crew .crew-box .inner-box {
    height: 383px;
  }
  #crew .crew-box .crew-info {
    opacity: 1;
  }
  #crew .crew-box .crew-nm {
    font-size: 4.189rem;
  }
  #crew .crew-box ul li {
    font-size: 3.256rem;
  }
  /* news */
  #news {
    padding: 40px 40px 60px 40px;
  }
  #news .tab-menu {
    margin-bottom: 50px;
  }
  #news .tab-menu li a {
    font-size: 3.953rem;
  }
  #news .tab-menu li.on a {
    border-bottom: 2px solid #3d5bdc;
  }
  #news .tab-menu .bar {
    height: 2px;
  }
  #news .tab-menu li:nth-child(2) a {
    margin: 0 17px 0 34px;
  }
  #news .tab-menu li:nth-child(3) a {
    margin: 0 34px 0 17px;
  }
  #news .tab-menu li:nth-child(1):hover ~ .bar {
    left: 0;
    width: 38px;
  }
  #news .tab-menu li:nth-child(2):hover ~ .bar {
    left: 26%;
    width: 19px;
  }
  #news .tab-menu li:nth-child(3):hover ~ .bar {
    left: 56%;
    width: 26px;
  }
  #news .tab-menu li:nth-child(4):hover ~ .bar {
    right: 0;
    width: 32px;
  }
  #news .update {
    display: block;
    padding: 0;
  }
  #news .update .post-box {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }
  #news .update .post-box img {
    width: 100%;
    object-fit: cover;
  }
  #news .update .post-box h1 {
    margin: 25px 0 0 0;
    font-size: 5.349rem;
    height: 108px;
    line-height: 1.48;
  }
  #news .update .post-box p {
    font-size: 2.8rem;
  }
  /* news_detail */
  /* .news-visual {
        height: 686px;
    } */
  .news-visual .thum-tit {
    max-width: 100%;
    padding: 345px 40px 50px;
    margin: 0 auto;
  }
  .news-visual .thum-tit h1 {
    font-size: 5.85rem;
    margin-bottom: 50px;
  }
  .news-visual .thum-tit p {
    font-size: 3.488rem;
  }
  .news-visual .dt-zoom {
    height: 113px;
  }
  #news.detail {
    padding: 50px 0 120px 0;
  }
  #news .dt-form {
    max-width: 100%;
    padding: 0 40px;
  }
  #news .dt-form p {
    font-size: 3.488rem;
    line-height: 1.6;
  }
  /* stewardship */
  #stewardship {
    padding: 345px 40px 120px;
    max-width: 100%;
  }
  #stewardship .head {
    padding-bottom: 35px;
    border-bottom: 2px solid #000;
  }
  #stewardship .ste-content {
    padding-top: 40px;
  }
  #stewardship .first-paga p {
    padding-bottom: 50px;
  }
  #stewardship .first-paga h2 {
    padding-bottom: 20px;
  }
  #stewardship .margi {
    padding-bottom: 40px;
  }
  #stewardship h1 {
    font-size: 5.117rem;
  }
  #stewardship h2 {
    font-size: 4.189rem;
  }
  #stewardship h3 {
    font-size: 3.256rem;
    padding: 40px 0 20px 0;
  }
  #stewardship p {
    font-size: 3.256rem;
    line-height: 2.25;
  }
  /* contact */
  #contact .inner-contact {
    top: 130px;
  }
  #contact .inner-contact h1 {
    margin-bottom: 20px;
  }
  #contact .inner-contact h1 marquee {
    font-size: 41.861rem;
  }
  #contact .inner-contact .contact-info {
    max-width: 100%;
    padding: 0 40px;
    margin-bottom: 200px;
  }
  #contact .inner-contact table {
    width: 100%;
  }
  #contact .inner-contact table col {
    width: 100%;
  }
  #contact .inner-contact table th,
  #contact .inner-contact table td {
    display: block;
    padding: 0;
    border-top: none;
  }
  #contact .inner-contact table th {
    font-size: 3.256rem;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
  #contact .inner-contact table td {
    font-size: 4.189rem;
    padding: 15px 0 30px 0;
  }
  .dark #open-menu .contact-us {
    border-bottom: 1px solid #fff;
  }
  .dark #open-menu .contact-us li {
    border-bottom: none;
  }
  .dark footer .wsite-link {
    border: none;
  }
  .dark .user-setting .searchBox {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .dark .cateBox .placeholder p {
    border-left: none;
  }
  .opening .wrap-box .layout h1 {
    font-size: 9.41rem;
  }
}

@media only screen and (max-width: 760px) {
  /* opening */
  .opening {
    height: auto;
    display: block;
  }
  .opening .wrap-box .layout::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .opening .wrap-box .layout h1 {
    font-size: 4.739rem;
  }
}
