/* header */

header {
  width: 100%;
  z-index: 999;
  position: relative;
}

header.fixed {
  position: fixed;
}

header .logo {
  position: absolute;
  top: 90px;
  left: 130px;
  z-index: 20;
}

header .logo.close {
  display: none;
}

header svg {
  fill: #000;
}

header .back-btn {
  display: none;
  position: absolute;
  top: 90px;
  left: 130px;
  z-index: 20;
  cursor: pointer;
}

header .back-btn i {
  font-size: 3.7rem;
  color: #fff;
}

.menu-btn {
  position: absolute;
  top: 90px;
  right: 130px;
  z-index: 20;
}

.menu-btn .con {
  cursor: pointer;
  display: inline-block;
  width: 36px;
}

.menu-btn .bar {
  display: block;
  background: #000;
  height: 4px;
  border-radius: 2px;
}

.menu-btn.change .bar {
  background: #fff;
}

.menu-btn .top {
  width: 19px;
  float: left;
  margin-bottom: 8px;
}

.menu-btn .middle {
  width: 38px;
  clear: both;
}

.menu-btn .bottom {
  width: 19px;
  float: right;
  margin-top: 8px;
}

.menu-btn .con {
  width: auto;
  margin: 0 auto;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.menu-btn .middle {
  margin: 0 auto;
}

.menu-btn .bar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-btn.close .bar {
  background: #000;
}

.menu-btn.close .top {
  width: 38px;
  -webkit-transform: translateY(12px) rotateZ(45deg);
  -moz-transform: translateY(12px) rotateZ(45deg);
  -ms-transform: translateY(12px) rotateZ(45deg);
  -o-transform: translateY(12px) rotateZ(45deg);
  transform: translateY(12px) rotateZ(45deg);
}

.menu-btn.close .bottom {
  width: 38px;
  -webkit-transform: translateY(-12px) rotateZ(-45deg);
  -moz-transform: translateY(-12px) rotateZ(-45deg);
  -ms-transform: translateY(-12px) rotateZ(-45deg);
  -o-transform: translateY(-12px) rotateZ(-45deg);
  transform: translateY(-12px) rotateZ(-45deg);
}

.menu-btn.close .middle {
  opacity: 0;
}

#open-menu {
  display: none;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-y: auto;
}

#open-menu .inner-content {
  width: 800px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 120px;
}

#open-menu .gnb-menu {
  margin-bottom: 62px;
}

#open-menu .gnb-menu a {
  color: #000;
  font-weight: bold;
  display: block;
  animation: transUp_ani 1s;
  -moz-animation: transUp_ani 1s;
  -webkit-animation: transUp_ani 1s;
  -o-animation: transUp_ani 1s;
  font-size: 10rem;
  animation-fill-mode: forwards;
}

@keyframes transUp_ani {
  from {
    transform: translateY(120px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#open-menu .gnb-menu a:hover {
  color: #3d5bdc;
}

#open-menu .contact-us {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 0;
}

#open-menu .contact-us li {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  color: #000;
  padding: 30px 0;
  animation: move_ani01 1s;
  -moz-animation: move_ani01 1s;
  -webkit-animation: move_ani01 1s;
  -o-animation: move_ani01 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes move_ani01 {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#open-menu .contact-us li a {
  font-size: 2.8rem;
  font-weight: 600;
}

#open-menu .contact-us li a:hover {
  color: #3d5bdc;
}

#open-menu .screen-mode {
  padding-top: 30px;
  display: inline-block;
  cursor: pointer;
  perspective: 1000px;
  animation: move_ani02 1s;
  -moz-animation: move_ani02 1s;
  -webkit-animation: move_ani02 1s;
  -o-animation: move_ani02 1s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes move_ani02 {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#open-menu .screen-mode .flip-box {
  width: 150px;
  height: 32px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 0.5s;
  display: inline-block;
  vertical-align: middle;
}

#open-menu .screen-mode i {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.6rem;
}

#open-menu .screen-mode .flip-box p {
  font-size: 2.4rem;
  font-weight: 600;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fff;
}

#open-menu .screen-mode .flip-box .back-mode {
  transform: rotateX(180deg);
}

#open-menu .screen-mode.change .flip-box {
  transform: rotateX(-180deg);
}

/* header : fill-change */

.fill-change .logo {
  display: none;
}

.fill-change .back-btn {
  display: block;
}

.fill-change .back-btn i {
  color: #000;
}

.fill-change .menu-btn .bar {
  background: #000;
}

/* footer */

footer {
  padding: 20px 130px;
  background: #f4f6fa;
  font-size: 0;
}

footer .foot-info {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 308px);
  padding-right: 20px;
}

footer .f-logo {
  display: inline-block;
  vertical-align: middle;
  width: 125px;
}

footer .f-logo svg {
  width: 100%;
  fill: #5f6368;
}

footer .copyright {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 1.4rem;
  color: #5f6368;
  margin-left: 33px;
}

footer .wsite-link {
  display: inline-block;
  vertical-align: middle;
  width: 308px;
  cursor: pointer;
  position: relative;
  background: #fff;
  border: 1px solid #dadce0;
  transition: all 0.3s ease-in-out;
}

footer .wsite-link:hover {
  background: #3d5bdc;
  border: 1px solid #3d5bdc;
}

footer .wsite-link a {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 16px 50px 16px 24px;
  color: #5f6368;
  transition: all 0.3s ease-in-out;
}

footer .wsite-link:hover a {
  color: #fff;
}

footer .wsite-link i {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  color: #5f6368;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

footer .wsite-link:hover i {
  color: #fff;
}

/* opening */

.opening {
  width: 100%;
  height: 100vh;
  display: flex;
}

.opening .wrap-box {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.opening .wrap-box .layout {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 42, 42, 0.5);
}

.opening .wrap-box .layout h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4rem;
  color: #202020;
  font-weight: bold;
}

.opening .new-site {
  background-image: url("../img/opening_new_site.png");
}

.opening .prev-site {
  background-image: url("../img/opening_prev_site.png");
}

.opening .new-site:hover .layout {
  background-color: rgba(42, 42, 42, 0.25);
}

.opening .new-site:hover h1 {
  color: #fff;
}

.opening .prev-site:hover .layout {
  background-color: rgba(42, 42, 42, 0.25);
}

.opening .prev-site:hover h1 {
  color: #fff;
}

/* style.css */

.visual-area {
  width: 100%;
  height: 100vh;
  position: relative;
}

.visual-area h1 {
  position: absolute;
  color: #fff;
  font-size: 10rem;
  font-weight: 600;
  left: 130px;
  bottom: 130px;
  z-index: 3;
}

.visual-area .m-img {
  display: none;
}

.visual-area .visual-img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  object-fit: cover;
}

.visual-area .obj-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  object-fit: cover;
}

/* index */

#main {
  height: 100vh;
  overflow-y: hidden;
}

#main .swiper-container {
  height: 100%;
}

#main .swiper-slide {
  width: 100%;
  font-size: 0;
}

#main .swiper-slide .slide-txt {
  width: 640px;
  height: 100%;
  display: inline-block;
  position: relative;
}

#main .swiper-slide .slide-txt .pos-txt {
  position: absolute;
  bottom: 167px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 380px;
  width: 100%;
}

#main .swiper-slide .slide-txt h1 {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 50px;
  font-weight: 600;
  color: #202020;
  padding-bottom: 50px;
}

#main .swiper-slide .slide-txt p {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  color: #202020;
}

#main .swiper-slide .slide-img {
  width: calc(100% - 640px);
  display: inline-block;
  height: 100%;
}

#main .swiper-slide .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about */

#about .slide-down {
  position: fixed;
  bottom: 142px;
  right: 130px;
  background: #3d5bdc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
}

#about {
  background: #f4f6fa;
}

#about section {
  font-size: 0;
  height: 100vh;
  background: #fff;
  margin-bottom: 20px;
}

#about section:last-child {
  margin-bottom: 0;
}

#about .layout {
  max-width: 1526px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#about video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

#about .video-area {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

#about .video-area video {
  height: 100%;
}

#about .video {
  display: block;
}

#about .m-video {
  display: none;
}

#about .ab-txt {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 50px;
}

#about .ab-txt h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 50px;
  color: #3d5bdc;
}

#about .ab-txt p {
  font-size: 2.1rem;
  font-weight: 500;
  padding-bottom: 23px;
  color: #202020;
  word-break: keep-all;
}

#about .about-03 .ab-txt {
  padding-left: 0;
}

#about .about-03 .ab-txt .pos-txt {
  float: right;
  margin-right: 50px;
}

#about .about-05 .ab-txt {
  padding-left: 0;
  position: relative;
  height: 100%;
}

#about .about-05 .ab-txt .pos-txt {
  position: absolute;
  float: right;
  width: 100%;
  margin-right: 50px;
  left: 50%;
  bottom: 290px;
  transform: translateX(-50%);
}

.about-06 {
  position: relative;
}

.about-06 .layout {
  font-size: 0;
  position: absolute;
  height: auto !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-06 .ab-txt {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.about-06 .ab-txt h1 {
  color: #3d5bdc;
}

.about-06 .ab-table {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.about-06 table tr:first-child {
  border-top: 1px solid #dadce0;
}

.about-06 table tr {
  border-bottom: 1px solid #dadce0;
}

.about-06 table th,
.about-06 table td {
  padding: 23px 0;
  font-size: 2.4rem;
  text-align: left;
}

.about-06 table th {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 500;
  color: #202020;
}

.about-06 table td {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #3d5bdc;
}

/* partner */

#partner .tb-detail {
  display: table;
  width: 100%;
  height: 120px;
  border: 1px solid #dadce0;
  font-size: 0;
  margin-bottom: 24px;
  cursor: pointer;
}

#partner .tb-detail:hover {
  border: 1px solid #3d5bdc;
  box-shadow: 0 2px 6px 0 rgba(0, 13, 57, 0.16);
}

#partner .tb-detail .cm-box {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

/* #partner .tb-detail:hover .cm-box {
  border-right: 1px solid #3d5bdc;
} */

#partner .tb-detail .cm-box:last-child {
  border-right: 0;
}

#partner .tb-detail .tb-logo {
  width: 24.95%;
  text-align: center;
}

#partner .tb-detail .tb-logo img {
  max-height: 120px;
}
#partner .tb-detail .tb-split {
  width: 75.05%;
  font-size: 0;
  padding: 20px 0;
}
#partner .tb-detail .tb-tit {
  width: calc(100% - 85%);
  border-left: 1px solid #dadce0;
}
#partner .tb-detail .tb-tit p {
  font-size: 1.6rem;
  padding: 0 25px;
  color: #5f6368;
  font-weight: 500;
}
#partner .tb-detail:hover .tb-tit {
  border-left: 1px solid #3d5bdc;
}
#partner .tb-detail:hover .tb-tit p {
  color: #3d5bdc;
}

#partner .tb-detail .tb-cate {
  text-align: center;
  width: 5%;
}

#partner .tb-detail .tb-cate ul {
  font-size: 0;
  width: 100%;
  display: flex;
}

#partner .tb-detail .tb-cate li {
  flex: 1;
  font-size: 1.6rem;
  line-height: 80px;
  border-left: 1px solid #dadce0;
  color: #5f6368;
  font-weight: 600;
}

#partner .tb-detail:hover .tb-cate li {
  border-left: 1px solid #3d5bdc;
  color: #3d5bdc;
}

#partner .tb-detail .tb-cate li:last-child {
  border-right: 0;
}

/* crew */

#crew {
  padding: 200px 90px;
}

.crewArea {
  display: flex;
  flex-wrap: wrap;
}

#crew .crew-box {
  flex-basis: 33.3%;
  padding: 0 32.5px;
  margin-bottom: 65px;
  cursor: pointer;
}

#crew .crew-box .inner-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;
}

#crew .crew-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

#crew .crew-box:hover img {
  transform: scale(1.2);
}

#crew .crew-box .crew-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.7s ease;
}

#crew .crew-box:hover .crew-info {
  opacity: 1;
}

#crew .crew-box .crew-nm {
  position: absolute;
  font-size: 1.8rem;
  top: 26px;
  left: 30px;
  color: #fff;
}

#crew .crew-box .crew-position {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 30px;
  font-size: 0;
}

#crew .crew-box ul {
  border-top: 1px solid #fff;
}

#crew .crew-box ul li {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 1.4rem;
  padding-top: 10px;
  color: #fff;
}

/* news */

#news {
  padding: 140px 0 200px;
}

#news .tab-menu {
  position: relative;
  display: inline-block;
  text-align: center;
  width: auto;
  margin: 0 auto 100px auto;
  font-size: 0;
}

#news .tab-menu li {
  display: inline-block;
}

#news .tab-menu li a {
  display: block;
  color: #5f6368;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 5px;
}

#news .tab-menu li:nth-child(2) a {
  margin: 0 30px 0 60px;
}

#news .tab-menu li:nth-child(3) a {
  margin: 0 60px 0 30px;
}

#news .tab-menu li.on a {
  color: #3d5bdc;
  border-bottom: 5px solid #3d5bdc;
}

#news .tab-menu li:hover a {
  color: #3d5bdc;
}

#news .tab-menu .bar {
  position: absolute;
  height: 5px;
  width: 0;
  background: #3d5bdc;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

#news .tab-menu li:nth-child(1):hover ~ .bar {
  left: 0;
  width: 60px;
}

#news .tab-menu li:nth-child(2):hover ~ .bar {
  left: 26%;
  width: 85px;
}

#news .tab-menu li:nth-child(3):hover ~ .bar {
  left: 58%;
  width: 31px;
}

#news .tab-menu li:nth-child(4):hover ~ .bar {
  left: 78%;
  width: 102px;
}

#news .update {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 70px;
}

#news .update .post-box {
  flex-basis: 33.3%;
  padding: 0 70px;
  margin-bottom: 160px;
  display: none;
}

#news .update .post-box.current {
  display: block;
}

#news .update .post-box .sa {
  opacity: 0;
  transition: all 0.5s ease;
}

#news .update .post-box .sa-up {
  transform: translate(0, 100px);
}

#news .update .post-box a {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
}

#news .update .post-box a::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#news .update .post-box a .inner {
  width: 100%;
  height: 100%;
  position: absolute;
}

#news .update .post-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

#news .update .post-box a:hover img {
  transform: scale(1.2);
}

#news .update .post-box h1 {
  margin: 30px 0 110px 0;
  font-size: 3rem;
  font-weight: 500;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 150px;
  line-height: 1.6;
  word-break: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#news .update .post-box p {
  font-size: 3rem;
  font-weight: 500;
  color: #909090;
}

#news .more-btn {
  margin-top: 0;
}

/* news_detail */

.news-visual .thum-tit {
  padding-top: 380px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 160px auto;
}

.news-visual .thum-tit h1 {
  font-size: 7.2rem;
  font-weight: 500;
  margin-bottom: 54px;
}

.news-visual .thum-tit p {
  font-size: 2.5rem;
  font-weight: 500;
  color: #909090;
}

.news-visual .dt-zoom {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

#news.detail {
  padding: 90px 0 200px;
}

#news .dt-form {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

#news .dt-form p {
  font-size: 2.4rem;
  line-height: 42px;
}

/* contact */

#contact {
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

#contact .inner-contact {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#contact .inner-contact h1 {
  margin-bottom: 40px;
}

#contact .inner-contact h1 marquee {
  font-weight: bolder;
  font-size: 40rem;
}

#contact .inner-contact .contact-info {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 200px;
}

#contact .inner-contact table {
  width: 100%;
}

#contact .inner-contact table th,
#contact .inner-contact table td {
  font-size: 2.4rem;
  color: #202124;
  padding: 20px 0 40px 0;
  border-top: 1px solid #000;
  text-align: left;
}

#contact .inner-contact table th {
  font-weight: 500;
}

#contact .inner-contact table td a {
  font-weight: bold;
  color: #202124;
}

/* stewwardship */

#stewardship {
  padding: 380px 0 240px 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

#stewardship .head {
  padding-bottom: 100px;
  border-bottom: 2px solid #000;
}

#stewardship .ste-content {
  padding-top: 50px;
}

#stewardship .first-paga p {
  padding-bottom: 50px;
}

#stewardship .first-paga h2 {
  padding-bottom: 20px;
}

#stewardship .margi {
  padding-bottom: 50px;
  border-bottom: 1px solid #f2f2f2;
}

#stewardship .margi:last-child {
  border-bottom: none;
}

#stewardship h1,
#stewardship h2,
#stewardship h3,
#stewardship p {
  color: #202020;
}

#stewardship h1 {
  font-size: 3.6rem;
  font-weight: 600;
}

#stewardship h2 {
  font-size: 2rem;
  font-weight: 600;
}

#stewardship h3 {
  font-family: "Spoqa Han Sans Neo";
  font-size: 1.4rem;
  font-weight: 600;
  padding: 45px 0 20px 0;
}

#stewardship p {
  font-family: "Spoqa Han Sans Neo";
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.25;
}

/* dark-mode */

.dark a {
  color: #fff;
}

.dark .content {
  background: #202020;
}

/* header */

.dark header svg {
  fill: #fff;
}

.dark .menu-btn .bar {
  background: #fff;
}

.dark #open-menu {
  background: #202020;
}

.dark #open-menu .gnb-menu a {
  color: #fff;
}

.dark #open-menu .gnb-menu a:hover {
  color: #3d5bdc;
}

.dark #open-menu .contact-us {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.dark #open-menu .screen-mode .flip-box p {
  background: #202020;
  color: #fff;
}

.dark #open-menu .screen-mode i {
  color: #fff;
}

.dark .menu-btn.close .bar {
  background: #fff;
}

.dark .non-dark .menu-btn .bar {
  background: #000;
}

.dark .non-dark .menu-btn.close .bar {
  background: #fff;
}

.dark .fill-change .menu-btn .bar {
  background: #fff;
}

.dark .fill-change .back-btn i {
  color: #fff;
}

.dark .non-dark header svg {
  fill: #000;
}

/* footer */

.dark footer {
  background: #202020;
  border-top: 1px solid #dadce0;
}

.dark footer .f-logo svg {
  fill: #fff;
}

.dark footer .copyright {
  color: #fff;
}

.dark footer .wsite-link a {
  color: #fff;
}

.dark footer .wsite-link {
  background: transparent;
  border: 1px solid #fff;
}

.dark footer .wsite-link i {
  color: #fff;
}

.dark footer .wsite-link:hover {
  background: #3d5bdc;
  border: 1px solid #3d5bdc;
}
.dark #main .swiper-slide {
  background: #202020;
}
.dark #main .swiper-slide .slide-txt h1 {
  color: #fff;
}
.dark #main .swiper-slide .slide-txt p {
  color: #fff;
}
/* contact */

.dark #contact {
  background: #202020;
}

.dark #contact .inner-contact h1 marquee {
  color: #fff;
}

.dark #contact .inner-contact table th,
.dark #contact .inner-contact table td {
  color: #fff;
  border-top: 1px solid #fff;
}

.dark #contact .inner-contact table td a {
  color: #fff;
}

/* partner */

.dark .user-setting {
  border: 1px solid #dadce0;
  background: #2a2a2a;
}

.dark .user-setting .searchBox .search-icon i {
  color: #dadce0;
}

.dark .user-setting .searchBox input[type="search"] {
  color: #fff;
}

.dark .cateBox .placeholder p {
  color: #dadce0;
  border-left: 1px solid #dadce0;
}

.dark .cateBox.on .placeholder {
  background: rgba(32, 32, 32, 0.5);
}
.dark .cateBox .placeholder .arrow .rod {
  border: solid #dadce0;
  border-width: 0 2.5px 2.5px 0;
}
.dark .cateBox .depth02 > li {
  background: #202020;
}
.dark .cateBox .depth02 > li label span {
  color: #fff;
}
.dark .cateBox .depth02 > li input[type="checkbox"] + label::after {
  border: 2px solid #dadce0;
}
.dark .cateBox .depth02 > li input[type="checkbox"]:checked + label::after {
  border: none;
}
.dark #partner .tb-detail {
  background: #2a2a2a;
}

.dark #partner .tb-detail .tb-logo {
  background: #fff;
}
.dark #partner .tb-detail .tb-tit {
  border-left: none;
}
.dark #partner .tb-detail .tb-tit p {
  color: #fff;
}

.dark #partner .tb-detail:hover .tb-tit p {
  color: #3d5bdc;
}

.dark #partner .tb-detail .tb-cate li {
  color: #fff;
}

.dark #partner .tb-detail:hover .tb-cate li {
  border-left: 1px solid #3d5bdc;
  color: #3d5bdc;
}

/* stewardship */

.dark .wrap {
  background: #202020;
}

.dark #stewardship .head {
  border-bottom: 2px solid #fff;
}

.dark #stewardship h1 {
  color: #fff;
}

.dark #stewardship h1,
.dark #stewardship h2,
.dark #stewardship h3,
.dark #stewardship p {
  color: #fff;
}

.dark .non-bg {
  background: transparent;
  z-index: 1;
}

/* news */

.dark #news .tab-menu li a {
  color: #fff;
}

.dark #news .tab-menu li.on a {
  color: #3d5bdc;
}

.dark #news .tab-menu li:hover a {
  color: #3d5bdc;
}

.dark #news .update .post-box h1 {
  color: #fff;
}

.dark #news .update .post-box p {
  color: #fff;
}

.dark .news-visual .thum-tit h1 {
  color: #fff;
}

.dark #news .dt-form p {
  color: #fff;
}
